# Ignorar arquivos de configuração do Visual Studio
.vs/
.vscode/

# Ignorar arquivos de configuração do .NET
appsettings.json

# Ignorar diretórios de build e output
bin/
obj/
out/

# Ignorar arquivos de log
*.log

# Ignorar arquivos de pacotes NuGet
*.nupkg

# Ignorar arquivos temporários e de cache
*.user
*.suo
*.userosscache
*.sln.docstates

# Ignorar arquivos de backup
*~